{% block sw_cms_element_banner_link_preview %}
    <div class="sw-cms-preview-el-banner-link"
         :style="`background-image: url(${assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')}); background-size: cover; background-position: center;`">
        <div class="sw-cms-preview-el-banner-link-content">
            <h5>Lorem ipsum</h5>
            <div class="sw-cms-preview-el-banner-link-label">Label</div>
            <div class="sw-cms-preview-el-banner-link-button">Button</div>
        </div>
    </div>
{% endblock %}
