{% sw_extends '@Storefront/storefront/component/line-item/element/remove.html.twig' %}

{% block component_line_item_remove_button %}
    <button type="submit"
            aria-label="{{ 'checkout.removeLineItem'|trans({ '%lineItemLabel%': label })|striptags }}"
            title="{{ 'global.default.remove'|trans }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-light btn-sm line-item-remove-button">
        {{ 'comaxx.cart.line-item.remove'|trans|sw_sanitize }}
    </button>
{% endblock %}