{% block comaxx_menu_settings %}
    <sw-page class="comaxx-menu-settings">
        <template v-slot:content>
            <sw-card-view>
                <template class="comaxx-settings-settings__content">
                    <sw-tabs>
                        <template v-slot:content="{ active }">
                            <sw-card
                                :title="$tc('Comaxx Thema')"
                            >
                                <router-link
                                        :to="{ name: 'sw.theme.manager.detail', params: { id: customThemeId }}"
                                >
                                    <p>Naar de Comaxx Thema instellingen</p>
                                </router-link>
                            </sw-card>

                            <sw-card
                                    :title="$tc('Comaxx CMS')"
                            >
                                <router-link
                                        :to="{ name: 'sw.extension.config', params: { namespace: 'ComaxxCms' }}"
                                >
                                    <p>Naar de Comaxx CMS instellingen</p>
                                </router-link>
                            </sw-card>
                        </template>
                    </sw-tabs>
                </template>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
