{% block sw_cms_element_banner_link_config %}

    <mt-tabs
        :items="[
            { label: 'General settings', name: 'general' },
            { label: 'Button settings', name: 'button' },
            { label: 'Label settings', name: 'label' }
        ]"
        @new-item-active="setActiveItem"
    />

    <sw-container v-if="activeTab === 'general'" class="sw-cms-el-config-banner-link__tab-content" style="margin-top: 2rem;">

        <mt-text-field
            v-model="minHeightSm"
            label="Min height (sm or less)"
            placeholder="Enter min height (e.g., 100px)"
            help-text="Set a minimum height for small screens or less. This ensures the element remains visually appealing, even with or without buttons or actions."
            @update:model-value="changeMinHeightSm"
        />

        <mt-text-field
            v-model="minHeightMd"
            label="Min height (md)"
            placeholder="Enter min height (e.g., 200px)"
            help-text="Set a minimum height for medium screens. This is useful for maintaining the desired layout, whether or not a button or action is present."
            @update:model-value="changeMinHeightMd"
        />

        <mt-text-field
            v-model="minHeightLg"
            label="Min height (lg)"
            placeholder="Enter min height (e.g., 400px)"
            help-text="Set a minimum height for large screens. This allows for more customization, including showing more of the image or content, even with buttons or actions."
            @update:model-value="changeMinHeightLg"
        />

        <mt-text-field
            v-model="elementPadding"
            label="Element Padding"
            placeholder="Enter padding (e.g., 16px, 8px 16px)"
            help-text="Specify the padding for the element. Use CSS shorthand (e.g., '10px' for all sides, '10px 20px' for top-bottom and left-right). Adjust to control spacing within the element."
            @update:model-value="changeElementPadding"
        />

        <mt-text-field
            v-model="generalTitle"
            label="Title"
            placeholder="Enter a title"
            @update:model-value="changeTitle"
        />

        <mt-colorpicker
            v-model="generalTitleColor"
            color-output="hex"
            label="Title color"
            :alpha="true"
            :z-index="1000"
            @update:model-value="onChangeTitleColor"
        />

        <mt-select
            v-model="element.config.titleHeadingType.value"
            class="sw-cms-el-config-title-heading-type"
            label="Title Heading Type"
            placeholder="Select heading level"
            help-text="Choose the HTML heading level for the title (e.g., h1 for main headings, h2 for subheadings)."
            @update:model-value="changeTitleHeadingType"
            :options="headingTypeOptions"
        />

        <div class="mt-field">
            <sw-text-editor
                :value="generalDescription"
                label="Subtitle"
                placeholder="Enter a description"
                :allow-fullscreen="true"
                :height="150"
                @update:value="changeDescription"
            />
        </div>

        <mt-colorpicker
            v-model="generalBackgroundColor"
            color-output="hex"
            label="Background color"
            :alpha="true"
            :z-index="1000"
            @update:model-value="changeBackgroundColor"
        />

        <div class="sw-cms-el-config-image sw-field">
            {% block sw_cms_element_image_config_media_upload %}
                <sw-cms-mapping-field
                        v-model:config="element.config.media"
                        :label="$tc('sw-cms.elements.image.label')"
                        value-types="entity"
                        entity="media"
                >
                    <sw-media-upload-v2
                            variant="regular"
                            :upload-tag="uploadTag"
                            :source="previewSource"
                            :allow-multi-select="false"
                            :default-folder="cmsPageState.pageEntityName"
                            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                            @media-upload-sidebar-open="onOpenMediaModal"
                            @media-upload-remove-image="onImageRemove"
                    />

                    <template #preview="{ demoValue }">
                        <div class="sw-cms-el-config-image__mapping-preview">
                            <img
                                    v-if="demoValue.url"
                                    :src="demoValue.url"
                                    alt=""
                            >
                            <sw-alert
                                    v-else
                                    class="sw-cms-el-config-image__preview-info"
                                    variant="info"
                            >
                                {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                            </sw-alert>
                        </div>
                    </template>
                </sw-cms-mapping-field>

                <sw-upload-listener
                        :upload-tag="uploadTag"
                        auto-upload
                        @media-upload-finish="onImageUpload"
                />
            {% endblock %}

            {% block sw_cms_element_image_config_media_modal %}
                <sw-media-modal-v2
                    v-if="mediaModalIsOpen"
                    variant="full"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :allow-multi-select="false"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-upload-remove-image="onImageRemove"
                    @media-modal-selection-change="onSelectionChanges"
                    @modal-close="onCloseModal"
                />
            {% endblock %}
        </div>

        <mt-select
            v-model="bannerImageFit"
            label="Select an image fit option"
            placeholder="Choose how the image should fit within the element"
            @update:model-value="changeBannerImageFit"
            :options="imageFitOptions"
        />

        <mt-select
            v-model="imagePosition"
            label="Select Image Position"
            placeholder="Choose how the image should be positioned horizontally"
            @update:model-value="changeImagePosition"
            :options="imagePositionOptions"
        />

        <mt-select
            v-if="bannerImageFit === 'cover'"
            v-model="imagePositionVertical"
            label="Select Image Vertical Position"
            placeholder="Choose how the image should be positioned vertically"
            @update:model-value="changeImagePositionVertical"
            :options="imagePositionVerticalOptions"
        />

    </sw-container>

    <sw-container v-if="activeTab === 'button'" class="sw-cms-el-config-banner-link__tab-button" style="margin-top: 2rem;">
        
        <mt-select
            v-model="element.config.buttonType.value"
            label="Button type"
            @update:model-value="changeButtonType"
            :options="buttonTypeOptions"
        />

        <mt-text-field
            v-if="typeIsCustom || typeIsPrimary || typeIsSecondary"
            v-model="bannerLinkButtonText"
            label="Call to action text"
            placeholder="Enter button text"
            @update:model-value="changeButtonText"
        />

        <mt-text-field
            v-model="bannerLinkButtonUrl"
            label="Call to action url or block url"
            placeholder="Enter button url"
            @update:model-value="changeButtonUrl"
        />

        <mt-colorpicker
            v-if="typeIsArrow || typeIsCustom"
            v-model="buttonBorderColor"
            color-output="hex"
            label="Button border color"
            :alpha="true"
            :z-index="1000"
            @update:model-value="onChangeButtonBorderColor"
        />

        <mt-colorpicker
            v-if="typeIsArrow || typeIsCustom"
            v-model="buttonBackgroundColor"
            color-output="hex"
            label="Button background color"
            :alpha="true"
            :z-index="1000"
            @update:model-value="changeButtonBackgroundColor"
        />

        <mt-colorpicker
            v-if="typeIsArrow || typeIsCustom"
            v-model="buttonContentColor"
            color-output="hex"
            label="Text or icon color"
            :alpha="true"
            :z-index="1000"
            @update:model-value="changeButtonContentColor"
        />

        <mt-colorpicker
            v-if="typeIsArrow || typeIsCustom"
            v-model="hoverColor"
            color-output="hex"
            label="Hover color"
            :alpha="true"
            :z-index="1000"
            @update:model-value="changeHoverColor"
        />

        <mt-colorpicker
            v-if="typeIsArrow || typeIsCustom"
            v-model="hoverBorderColor"
            color-output="hex"
            label="Hover border color"
            :alpha="true"
            :z-index="1000"
            @update:model-value="changeHoverBorderColor"
        />

        <mt-colorpicker
            v-if="typeIsArrow || typeIsCustom"
            v-model="hoverBackgroundColor"
            color-output="hex"
            label="Hover background color"
            :alpha="true"
            :z-index="1000"
            @update:model-value="changeHoverBackgroundColor"
        />

        <mt-select
            v-if="typeIsArrow || typeIsCustom || typeIsPrimary || typeIsSecondary"
            v-model="element.config.buttonPosition.value"
            label="Button position"
            @update:model-value="changeButtonPosition"
            :options="buttonPositionOptions"
        />
    
    </sw-container>

    <sw-container v-if="activeTab === 'label'" class="sw-cms-el-config-banner-link__tab-label" style="margin-top: 2rem;">
    
        <div class="mt-field">
            <mt-checkbox
                :model-value="actionLabel"
                label="Show action label"
                @change="changeActionLabel"
            />
        </div>

        <mt-select
            v-if="showActionLabel"
            v-model="element.config.labelFontWeight.value"
            label="Font weight"
            @update:model-value="changeLabelFontWeight"
            :options="labelFontWeightOptions"
        />

        <mt-text-field
            v-if="showActionLabel"
            v-model="labelContent"
            label="Label content"
            placeholder="Enter label content"
            @update:model-value="changeLabelContent"
        />

        <mt-select
            v-if="showActionLabel"
            v-model="element.config.labelType.value"
            label="Label style"
            @update:model-value="changeLabelType"
            :options="labelTypeOptions"
        />

        <mt-select
            v-if="showActionLabel"
            v-model="element.config.labelPosition.value"
            label="Label position"
            @update:model-value="changeLabelPosition"
            :options="labelPositionOptions"
        />

    </sw-container>
  
{% endblock %}
