{% block sw_cms_element_category_preview %}
    <div class="sw-cms-preview-category">
        <div class="sw-cms-preview-category-content">
            <div class="sw-cms-preview-category-content-image">
                <img
                    :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                    alt=""
                >
            </div>
            <h5>Category label</h5>
        </div>
    </div>
{% endblock %}
