{% sw_extends '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}

{% set comaxxIconStyleClass = theme_config('comaxx-icon-style')|lower %}

{% block layout_header_actions_account_widget_dropdown_button %}
    <button class="btn account-menu-btn header-actions-btn{% if context.customer %} user-logged-in{% endif %}"
            type="button"
            id="accountWidget"
            data-account-menu="true"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="{{ 'account.myAccount'|trans|striptags }}"
            title="{{ 'account.myAccount'|trans|striptags }}">
            <span class="icon material-symbols-{{ comaxxIconStyleClass }}">
            person
            </span>
    </button>

{% endblock %}