{% sw_extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% set comaxxCartPriceShow = theme_config('comaxx-show-cart-price') %}
{% set comaxxCartAmountBadgeShow = theme_config('comaxx-show-cart-item-amount-badge') %}
{% set comaxxIconStyleClass = theme_config('comaxx-icon-style')|lower %}

{% block layout_header_actions_cart_widget %}
    <span class="icon material-symbols-{{ comaxxIconStyleClass }}">
    shopping_cart
    </span>
    {% if page.cart.lineItems|length > 0 and comaxxCartAmountBadgeShow %}
        <span class="badge bg-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
    {% endif %}

    {% if comaxxCartPriceShow %}
        <span class="header-cart-total">
        {{ page.cart.price.positionPrice|currency }}{{ 'general.star'|trans|sw_sanitize }}
    </span>
    {% endif %}
{% endblock %}
