{% block sw_cms_block_featured_links_preview %}
    <div class="sw-cms-preview-block-category-slider">
        <div class="sw-cms-preview-category-slider-title">
            <h2>Category slider<br>title</h2>
        </div>
        <div class="sw-cms-preview-block-category-slider-content">
            <sw-icon
                    name="regular-chevron-left"
                    size="10"
            />
            <div class="sw-cms-preview-block-category-slider-items">
                <div class="sw-cms-preview-block-category-slider-items-item">
                    <img
                        :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                        alt=""
                    >
                    <span class="sw-cms-preview-block-category-slider-items-item-title">Categorie</span>
                </div>
                <div class="sw-cms-preview-block-category-slider-items-item">
                    <img
                        :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                        alt=""
                    >
                    <span class="sw-cms-preview-block-category-slider-items-item-title">Categorie</span>
                </div>
                <div class="sw-cms-preview-block-category-slider-items-item">
                    <img
                        :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                        alt=""
                    >
                    <span class="sw-cms-preview-block-category-slider-items-item-title">Categorie</span>
                </div>
            </div>
            <sw-icon
                    name="regular-chevron-right"
                    size="10"
            />
        </div>
    </div>
{% endblock %}