{% block sw_cms_element_banner_featured_links_preview %}
    <div class="sw-cms-preview-banner-featured-links"
         :style="`background-image: url(${assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')}); background-size: cover; background-position: center;`">
        <div class="sw-cms-preview-banner-featured-links-content">
            <h5>Banner</h5>
        </div>
    </div>
{% endblock %}
