/sources/vendor/
/sources/var/
/sources/public/media/
/sources/public/bundles/
/sources/public/theme/
/sources/public/thumbnail/
/sources/public/sitemap/
/sources/.env
/sources/.env.local
/sources/auth.json
/sources/install.lock
/sources/files/
!/sources/files/.htaccess
.DS_Store
**/.DS_Store
._.DS_Store
**/._.DS_Store
/sources/public/.htaccess

# Ignore everything in the SwagExtensionStore plugin
/sources/custom/plugins/SwagExtensionStore/
