{% block sw_cms_el_config_tabs %}
    <div class="sw-cms-el-config-tabs">
        <sw-card title="Tab categorie" class="mb-6">
            <mt-text-field
                v-model="element.config.tabTitle.value"
                label="Tabs titel"
                class="mb-6"
            />

            <mt-select
                v-model="titleType"
                class="sw-cms-el-config-tab-title-type"
                label="Title HTML tag"
                :options="titleOptions"
            />

            <template v-for="(tab, index) in element.config.tabItems.value" :key="tab.id">
                <sw-card
                    :title="`Tab ${index + 1}`"
                    class="mb-4"
                    position-identifier="tab-item"
                >
                    <sw-container columns="1fr auto" gap="10px" class="mb-4">
                        <mt-text-field
                            :model-value="tab.question"
                            :label="`Tab ${index + 1}`"
                            @update:model-value="val => updateQuestion(index, val)"
                        />

                        <mt-button
                            size="small"
                            variant="danger"
                            @click="onDeleteTab(index)"
                            v-if="element.config.tabItems.value.length > 1"
                        >
                            Verwijderen
                        </mt-button>
                    </sw-container>

                    <div class="mt-field">
                        <sw-text-editor
                            v-model:value="tab.answer"
                            :label="`Content ${index + 1}`"
                            :allow-fullscreen="true"
                            :height="150"
                        />
                    </div>
                </sw-card>
            </template>

            <mt-button
                size="small"
                variant="primary"
                @click="addTab"
            >
                Tab toevoegen
            </mt-button>
        </sw-card>
    </div>
{% endblock %}