{% block sw_cms_block_category_highlight_preview %}
    <div class="sw-cms-preview-category-highlight">
        <div class="sw-cms-preview-category-highlight-placeholder-listing">
            <h2>Category Highlight</h2>
            <div class="sw-cms-preview-category-highlight__placeholder"></div>
            <div class="sw-cms-preview-category-highlight__placeholder"></div>
            <div class="sw-cms-preview-category-highlight__placeholder--subcategory"></div>
            <div class="sw-cms-preview-category-highlight__placeholder--subcategory"></div>
            <div class="sw-cms-preview-category-highlight__placeholder--subcategory"></div>
        </div>
    </div>
{% endblock %}
