{% block sw_cms_element_cta %}
    <div class="sw-cms-el-cta" :style="ctaBackgroundColor">
        <div class="sw-cms-el-cta-content">
            <component
                :is="ctaTitleTag"
                :style="ctaTitleColor"
                v-text="element.config.ctaTitle.value"
            />
            <p v-html="element.config.ctaDescription.value"></p>
            <a v-if="!element.config.ctaClickable.value" :class="buttonTypeClass">
                {{ element.config.ctaButtonText.value }}
            </a>
        </div>
        <div class="sw-cms-el-cta-image">
            <img
                :src="mediaUrl"
                alt=""
            >
        </div>
    </div>
{% endblock %}