{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_alignment %}

	{% set price = page.product.calculatedPrice %}

	{% if product.calculatedPrices|length == 1 %}
		{% set price = page.product.calculatedPrices.first %}
	{% endif %}

	{% block element_image_gallery_badges %}
		{% set listPrice = price.listPrice %}
		{% set isListPrice = price.listPrice.percentage > 0 %}
		{% set isRegulationPrice = price.regulationPrice != null %}

		{% if isListPrice %}
			{% block element_image_gallery_badges_list_price %}
				<div class="product-badges">
					<div class="badge bg-danger badge-discount">
						<span>{{ 'comaxx.card.badge.discount'|trans }}</span>
					</div>
				</div>
			{% endblock %}
		{% endif %}
	{% endblock %}

	{{ parent() }}
{% endblock %}

{% block element_image_gallery_inner_control_prev_icon %}
    <span class="material-symbols-{{ comaxxIconStyleClass }}">
        arrow_back
    </span>
{% endblock %}

{% block element_image_gallery_inner_control_next_icon %}
    <span class="material-symbols-{{ comaxxIconStyleClass }}">
        arrow_forward
    </span>
{% endblock %}
