{% sw_extends '@Storefront/storefront/element/cms-element-image-slider.html.twig' %}

{% block element_image_gallery_inner_control_prev_icon %}
    <span class="material-symbols-{{ comaxxIconStyleClass }}">
        arrow_back
    </span>
{% endblock %}

{% block element_image_gallery_inner_control_next_icon %}
    <span class="material-symbols-{{ comaxxIconStyleClass }}">
        arrow_forward
    </span>
{% endblock %}