{% block sw_cms_element_category_highlight %}
    <div class="sw-cms-el-category-highlight" :style="categoryHighlightBackgroundColor">
        <div class="sw-cms-el-category-highlight-content">
            <h3 :style="categoryTitleStyles">{{ element.config.categoryTitle.value }}</h3>
            <hr>
            <div class="sw-cms-el-category-placeholder-listing">
                <div :style="categoryLinkColor" class="sw-cms-el-category-highlight__placeholder">Placeholder</div>
                <div :style="categoryLinkColor" class="sw-cms-el-category-highlight__placeholder--subcategory">Placeholder</div>
                <div :style="categoryLinkColor" class="sw-cms-el-category-highlight__placeholder--subcategory">Placeholder</div>
                <div :style="categoryLinkColor" class="sw-cms-el-category-highlight__placeholder--subcategory">Placeholder</div>
                <div :style="categoryLinkColor" class="sw-cms-el-category-highlight__placeholder--subcategory">Placeholder</div>
                <hr>
                <div :style="highlight1Color" class="sw-cms-el-category-highlight__placeholder">Highlight 1</div>
                <hr>
                <div :style="highlight2Color" class="sw-cms-el-category-highlight__placeholder">Highlight 2</div>
                <hr>
                <div :style="highlight3Color" class="sw-cms-el-category-highlight__placeholder">Highlight 3</div>
            </div>
        </div>
    </div>
{% endblock %}