{% block sw_cms_block_featured_links_preview %}
    <div class="sw-cms-preview-featured-links">
        <div class="sw-cms-preview-featured-links-title">
            <h2>Featured link<br>title</h2>
        </div>
        <div class="sw-cms-preview-featured-links-items">
            <div class="sw-cms-preview-featured-links-items-item">
                <img
                    :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                    alt=""
                >
                <span class="sw-cms-preview-featured-links-items-item-title">Item link</span>
                <span class="sw-cms-preview-featured-links-items-item-button">→</span>
            </div>
            <div class="sw-cms-preview-featured-links-items-item">
                <img
                    :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                    alt=""
                >
                <span class="sw-cms-preview-featured-links-items-item-title">Item link</span>
                <span class="sw-cms-preview-featured-links-items-item-button">→</span>
            </div>
            <div class="sw-cms-preview-featured-links-items-item">
                <img
                    :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                    alt=""
                >
                <span class="sw-cms-preview-featured-links-items-item-title">Item link</span>
                <span class="sw-cms-preview-featured-links-items-item-button">→</span>
            </div>
            <div class="sw-cms-preview-featured-links-items-item">
                <img
                    :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                    alt=""
                >
                <span class="sw-cms-preview-featured-links-items-item-title">Item link</span>
                <span class="sw-cms-preview-featured-links-items-item-button">→</span>
            </div>
        </div>
    </div>
{% endblock %}