{% block faq %}
    <div class="sw-cms-el-faq">
        <h2 v-if="categoryTitle">
            {{ categoryTitle }}
        </h2>
        <ul>
            <li v-for="(question, index) in faqQuestions" :key="index">
                {{ question }}
                <span><sw-icon name="regular-chevron-down" size="10" /></span>
            </li>
        </ul>
        <p v-if="faqQuestions.length === 0">
            Geen vragen toegevoegd.
        </p>
    </div>
{% endblock %}
