{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% set comaxxShowItemAmount = theme_config('comaxx-cart-offcanvas-header-show-amount') %}

{% block utilities_offcanvas_header %}
{% endblock %}

{% block component_offcanvas_cart_header %}
    <div class="row align-items-center h4 offcanvas-cart-header">
        <div class="offcanvas-cart-header-title col-auto">
            {{ 'checkout.cartHeader'|trans|sw_sanitize }}
        </div>

        {% set checkoutItemCounter = page.cart.lineItems|length %}

        {% block component_offcanvas_cart_header_item_counter %}
            {% if isCartNotEmpty and comaxxShowItemAmount %}
                <div class="col-auto">
                    <small class="offcanvas-cart-header-count">
                        {{ 'checkout.itemCounter'|trans({'%count%': checkoutItemCounter})|sw_sanitize }}
                    </small>
                </div>
            {% endif %}
        {% endblock %}

        <button class="btn btn-light offcanvas-close js-offcanvas-close">
            {% block utilities_offcanvas_close_icon %}
                {% sw_icon 'x' style { size: 'sm' } %}
            {% endblock %}
        </button>
    </div>
{% endblock %}
