{% block sw_cms_block_featured_links %}
    <slot name="banner-featured-links"></slot>
    <div class="sw-cms-block-featured-links-container-items">
        <div class="sw-cms-block-featured-links-container-item">
            <slot name="mini-cta-1"></slot>
        </div>
        <div class="sw-cms-block-featured-links-container-item">
            <slot name="mini-cta-2"></slot>
        </div>
        <div class="sw-cms-block-featured-links-container-item">
            <slot name="mini-cta-3"></slot>
        </div>
        <div class="sw-cms-block-featured-links-container-item">
            <slot name="mini-cta-4"></slot>
        </div>
    </div>
{% endblock %}