{% block sw_cms_element_banner_link_preview %}
    <div class="sw-cms-preview-banner-link">
        <div class="sw-cms-preview-banner-link-content">
            <h1>Preview</h1>
            <p>Lorem ipsum</p>
            <div class="sw-cms-preview-banner-link-label">label</div>
            <div class="sw-cms-preview-banner-link-button">Button text</div>
        </div>
        <div class="sw-cms-preview-banner-link-image">
            <img
                    :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                    alt=""
            >
        </div>
    </div>
{% endblock %}