{% block sw_cms_element_category_slider_preview %}
    <div class="sw-cms-preview-category-slider">
        <div class="sw-cms-preview-category-slider-content">
            <div class="sw-cms-preview-category-slider-content-top">
                <sw-icon
                        name="regular-chevron-left"
                        size="10"
                />
                <div class="sw-cms-preview-category-slider-content-image">
                    <img
                            :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                            alt=""
                    >
                </div>
                <sw-icon
                        name="regular-chevron-right"
                        size="10"
                />
            </div>
            <h5>Slider label</h5>
        </div>
    </div>
{% endblock %}
