{% block sw_cms_block_tabs %}
    <div class="sw-cms-block-tabs">
        <slot name="content">
            {% block sw_cms_block_slot_content %}

            {% endblock %}
        </slot>
    </div>
{% endblock %}
