{% sw_extends '@Storefront/storefront/page/checkout/_page.html.twig' %}

{% set comaxxCheckoutStepsShow = theme_config('comaxx-show-checkout-steps') %}
{% set comaxxStepNumbersOrIcons = theme_config('comaxx-show-checkout-step-numbers-or-icons') %}
{% set comaxxCheckoutSidebarShow = theme_config('comaxx-show-summary-cart-sidebar') %}

{% block page_checkout_main %}
    {% if comaxxCheckoutStepsShow %}
        {% block page_checkout_main_progress_bar %}
            <div class="checkout-progress-bar">
                <!-- First Line (always filled since step 1 starts the process) -->
                <div class="checkout-progress-bar-line first filled"></div>

                <!-- First Circle (filled on all steps) -->
                <div class="checkout-progress-bar-circle filled">
                    <span class="step-text">{{ 'comaxx.checkout.steps.loginRegistration'|trans|sw_sanitize }}</span>
                    {% if comaxxStepNumbersOrIcons == '1' %}
                        <span class="step-extra number">1</span>
                    {% elseif comaxxStepNumbersOrIcons == '2' %}
                        <span class="step-extra icon"><span class="material-symbols-{{ comaxxIconStyleClass }}">check</span></span>
                    {% endif %}
                </div>

                <!-- Second Line (filled on step 2 and beyond) -->
                <div class="checkout-progress-bar-line {% if activeRoute in ['frontend.checkout.confirm.page', 'frontend.checkout.finish.page'] %}filled{% endif %}"></div>

                <!-- Second Circle (filled on step 2 and beyond) -->
                <div class="checkout-progress-bar-circle {% if activeRoute in ['frontend.checkout.confirm.page', 'frontend.checkout.finish.page'] %}filled{% endif %}">
                    <span class="step-text">{{ 'comaxx.checkout.steps.loginPaymentMethod'|trans|sw_sanitize }}</span>
                    {% if comaxxStepNumbersOrIcons == '1' %}
                        <span class="step-extra number">2</span>
                    {% elseif comaxxStepNumbersOrIcons == '2' %}
                        <span class="step-extra icon">{% sw_icon 'check' %}</span>
                    {% endif %}
                </div>

                <!-- Third Line (filled only on step 3) -->
                <div class="checkout-progress-bar-line {% if activeRoute == 'frontend.checkout.finish.page' %}filled{% endif %}"></div>

                <!-- Third Circle (filled only on step 3) -->
                <div class="checkout-progress-bar-circle {% if activeRoute == 'frontend.checkout.finish.page' %}filled{% endif %}">
                    <span class="step-text">{{ 'comaxx.checkout.steps.loginConfirmation'|trans|sw_sanitize }}</span>
                    {% if comaxxStepNumbersOrIcons == '1' %}
                        <span class="step-extra number">3</span>
                    {% elseif comaxxStepNumbersOrIcons == '2' %}
                        <span class="step-extra icon">{% sw_icon 'check' %}</span>
                    {% endif %}
                </div>

                <!-- Last Line (filled only on step 3) -->
                <div class="checkout-progress-bar-line last {% if activeRoute == 'frontend.checkout.finish.page' %}filled{% endif %}"></div>
            </div>
        {% endblock %}
    {% endif %}

    <div class="checkout-main {% if not comaxxCheckoutSidebarShow %}no-sidebar{% endif %}">
        {% block base_flashbags_checkout %}
            <div class="flashbags">
                {% for type, messages in app.flashes %}
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block page_checkout_main_content %}{% endblock %}
    </div>
{% endblock %}

