{% sw_extends '@Storefront/storefront/layout/navbar/content.html.twig' %}

{% set comaxxShowFlyoutMenuBar = theme_config('comaxx-header-flyout-menu-bar') %}
{% set comaxxFlyoutImagePosition = theme_config('comaxx-flyout-menu-image-position') %}
{% set comaxxShowFlyoutCategoryImage = theme_config('comaxx-flyout-menu-show-category-image') %}
{% set comaxxShowMegaMenu = theme_config('comaxx-header-mega-menu') %}

{% block layout_navbar_content_row %}
    {% if comaxxShowFlyoutMenuBar and not comaxxShowMegaMenu %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block layout_navbar_content_row_content %}
    <div class="row navigation-flyout-content d-flex {% if comaxxShowFlyoutCategoryImage and comaxxFlyoutImagePosition == 'left' %}flex-row-reverse {% endif %}">
        {% block layout_navbar_content_row_content_categories %}
            <div class="{% if category.media and comaxxShowFlyoutCategoryImage and not comaxxShowMegaMenu %}col-8 col-xl-9{% elseif comaxxShowMegaMenu %}col-12{% else %}col{% endif %}">
                {% block layout_navbar_content_row_content_categories_recoursion %}
                    {{ parent() }}
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_navbar_content_row_content_teaser %}
            {% if comaxxShowFlyoutCategoryImage and not comaxxShowMegaMenu %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block layout_navbar_content_row_close %}
    <div class="col-auto">
        <div class="navigation-flyout-close js-close-flyout-menu" data-flyout-close>
            {% block layout_navbar_content_row_close_content %}
                {% block layout_utilities_offcanvas_close_icon %}
                    {% sw_icon 'x' %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

