{% sw_extends '@ComaxxTheme/storefront/component/review/review-widget.html.twig' %}

{% block component_review_filter_checkbox_label %}

{% set totalStars = 5 %}  {# Total stars to display #}
{% set points = matrix.points %}  {# Points from the matrix #}

    {% for i in 1..totalStars %}
        <div class="product-review-point" aria-hidden="true">
            {% if i <= points %}
                {# Full star - when the index is less than or equal to the points value #}
                <div class="point-container">
                    <div class="point-rating point-full">
                        {% sw_icon 'star' style { color: 'review', size: 'small', pack: 'solid' } %}
                    </div>
                </div>
            {% elseif i == points + 1 and points % 1 != 0 %}
                {# Partial star - when we're between two whole points (e.g., 4.5 points) #}
                <div class="point-container">
                    <div class="point-rating point-partial">
                        {% sw_icon 'star' style { color: 'review', size: 'small', pack: 'solid' } %}
                    </div>
                </div>
            {% else %}
                {# Blank star - when the index is greater than the points value #}
                <div class="point-container">
                    <div class="point-rating point-blank">
                        {% sw_icon 'star' style { size: 'small', pack: 'solid' } %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}

    {# <label class="custom-control-label text-nowrap"
            for="reviewRating{{ matrix.points }}">
        <small>{{ "detail.review#{matrix.points}PointRatingText"|trans|sw_sanitize }}
            ({{ matrix.count }})</small>
    </label> #}
{% endblock %}