{% block sw_cms_el_config_faq %}
    <div class="sw-cms-el-config-faq">
        <sw-card title="FAQ categorie" class="mb-6">
            <mt-text-field
                v-model="element.config.categoryTitle.value"
                label="Categorie titel"
                class="mb-6"
            />

            <mt-select
                v-model="titleType"
                class="sw-cms-el-config-faq-title-type"
                label="Title HTML tag"
                :options="titleOptions"
            />

            <template v-for="(faq, index) in element.config.faqItems.value" :key="faq.id">
                <sw-card
                    :title="`Vraag ${index + 1}`"
                    class="mb-4"
                    position-identifier="faq-item"
                >
                    <sw-container columns="1fr auto" gap="10px" class="mb-4">
                        <mt-text-field
                            :model-value="faq.question"
                            :label="`Vraag ${index + 1}`"
                            @update:model-value="val => updateQuestion(index, val)"
                        />

                        <mt-button
                            size="small"
                            variant="danger"
                            @click="onDeleteFaq(index)"
                            v-if="element.config.faqItems.value.length > 1"
                        >
                            Verwijderen
                        </mt-button>
                    </sw-container>

                    <mt-select
                        :model-value="faq.questionTitleType"
                        :label="`Vraag ${index + 1} titel HTML tag`"
                        :options="titleOptions"
                        @update:model-value="val => updateQuestionTitleType(index, val)"
                        class="mb-4"
                    />

                    <div class="mt-field">
                        <sw-text-editor
                            :value="faq.answer"
                            :label="`Antwoord ${index + 1}`"
                            :allow-fullscreen="true"
                            :height="150"
                            @update:value="val => updateAnswer(index, val)"
                        />
                    </div>
                </sw-card>
            </template>

            <mt-button
                size="small"
                variant="primary"
                @click="addFaq"
            >
                Vraag toevoegen
            </mt-button>
        </sw-card>
    </div>
{% endblock %}