{% block sw_cms_block_category_highlight %}
    <div class="sw-cms-block-category-highlight">
        <slot name="content">{% block sw_cms_block_slot_content%}{% endblock %}</slot>
    </div>
{% endblock %}