{% block sw_cms_element_category_slider %}
    <div class="sw-cms-el-category-slider">
        <div class="sw-cms-el-category-slider-intro">
            <div v-if="element?.config?.categoryContent?.value" v-html="element.config.categoryContent.value"></div>
        </div>
        <div v-if="selectedCategories.length > 0" class="category-slider">
            <sw-icon
                    class="sw-cms-el-category-slider-intro-navigation-button"
                    name="regular-chevron-left"
                    size="24"
            />
            <div class="category-slider-list">
                <div
                        v-for="(category, index) in selectedCategories.slice(0, 3)"
                        :key="category.name"
                        class="category-slider-item"
                        :class="categoryShape"
                >
                    <div class="category-slider-item-image"
                         :style="combinedStyles">
                        <img
                                :src="category.mediaUrl || getFallbackImage()"
                                :alt="category.name"
                                class="category-slider-image"
                                :class="categoryImageFit"
                        />
                    </div>
                    <div class="category-slider-item-info">
                        <p class="category-slider-name">{{ category.name }}</p>
                    </div>
                </div>
            </div>
            <sw-icon
                    class="sw-cms-el-category-slider-intro-navigation-button"
                    name="regular-chevron-right"
                    size="24"
            />
        </div>
        <p v-else class="category-slider-empty">No categories selected</p>
    </div>
{% endblock %}
