{% block sw_cms_block_grid_5_7_preview %}
    <div class="sas-cms-grid-block-5-7-column-preview">
        <div class="sas-cms-block-grid">
            <div class="sas-cms-block-column" style="width: 51.67%;"></div>
            <div class="sas-cms-block-column" style="width: 58.333%;"></div>
        </div>
    </div>
{% endblock %}
