{% sw_extends '@Storefront/storefront/page/search/search-pagelet.html.twig' %}

{% set comaxxIconStyleClass = theme_config('comaxx-icon-style')|lower %}
{% set comaxxSearchResultLayout = theme_config('comaxx-search-page-layout') %}

{# Check if there is a sidebar and if fallback values are needed #}
{% set sectionHasSidebar = comaxxSearchResultLayout == 'Sidebar' %}

{# Only set fallback values if comaxxProductsLG and comaxxProductsXL are not already defined #}
{% if not (comaxxProductsLG is defined and comaxxProductsXL is defined) %}
    {% if sectionHasSidebar %}
        {# Set columns for sidebar layout #}
        {% set comaxxProductsLG = 'col-lg-4' %}
        {% set comaxxProductsXL = 'col-xl-4' %}
    {% else %}
        {# Set default fallback columns when no sidebar is present #}
        {% set comaxxProductsLG = comaxxProductsLG is defined ? comaxxProductsLG : 'col-lg-4' %}
        {% set comaxxProductsXL = comaxxProductsXL is defined ? comaxxProductsXL : 'col-xl-3' %}
    {% endif %}
{% endif %}

{# Set a fallback for ctaAfterRow only if not defined or set to 0 #}
{% set ctaAfterRow = ctaAfterRow is defined and ctaAfterRow != 0 ? ctaAfterRow : 2 %}

{% block element_product_listing_wrapper %}
    {% if sectionHasSidebar %}
        {% set listingColumns = 'col-sm-6 col-lg-4 col-xl-4' %}
        <div class="cms-section-sidebar cms-section-sidebar-mobile-wrap boxed row">
            <div class="cms-section-sidebar-sidebar-content col-lg-4 col-xl-3">
                <div class="mb-5 d-none d-lg-flex">
                    {% sw_include '@Storefront/storefront/element/cms-element-category-navigation.html.twig' with {} %}
                </div>
                {% sw_include '@Storefront/storefront/element/cms-element-sidebar-filter.html.twig' with {
                    listing: page.listing,
                    sidebar: true
                } %}
            </div>
            <div class="cms-section-sidebar-main-content col-lg-8 col-xl-9">

                {% block page_search_headline %}
                    <h1 class="search-headline text-center mb-4">
                        {% block page_search_headline_text %}
                            {{ 'search.headline'|trans({
                                '%count%': page.listing.total,
                                '%searchTerm%': page.searchTerm,
                            }) }}
                        {% endblock %}
                    </h1>
                {% endblock %}

                {% sw_include '@Storefront/storefront/component/product/listing.html.twig' with {
                    searchResult: page.listing,
                    dataUrl: path('widgets.search.pagelet.v2'),
                    filterUrl: path('widgets.search.filter'),
                    params: { search: page.searchTerm },
                    sidebar: 1,
                    boxLayout: 'minimal',
                    displayMode: '',
                    ariaLiveUpdates: true
                } %}
            </div>
        </div>
    {% else %}
        {% set listingColumns = 'col-sm-6 col-lg-4 col-xl-3' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

