{% block tabs %}
    <div class="sw-cms-preview-tabs">
        <div class="sw-cms-preview-tabs-content">
            <h5>
                Tabs
            </h5>
            <div class="sw-cms-preview-tabs-inner">
                <div class="sw-cms-preview-tabs-question">
                    Tab
                </div>
                <div class="sw-cms-preview-tabs-question">
                    Tab
                </div>
                <div class="sw-cms-preview-tabs-question">
                    Tab
                </div>
            </div>
        </div>
    </div>
{% endblock %}
