{% block sw_cms_element_faq_preview %}
    <div class="sw-cms-preview-faq">
        <div class="sw-cms-preview-faq-content">
            <h5>
                FAQ
            </h5>
            <div class="sw-cms-preview-faq-question">
                FAQ question
                <span><sw-icon name="regular-chevron-down" size="10" /></span>
            </div>
            <div class="sw-cms-preview-faq-question">
                FAQ question
                <span><sw-icon name="regular-chevron-down" size="10" /></span>
            </div>
        </div>
    </div>
{% endblock %}
