{% set bannerContent = banner.config.bannerContent.value|raw %}

{% block cms_element_banner %}
    <div class="cms-element-{{ banner.type }}-container-intro">
        {% block cms_element_banner_title %}
            {% if bannerContent %}
                <div style="color:{{ bannerTextColor }};">{{ bannerContent|raw }}</div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
