{% block tabs %}
    <div class="sw-cms-el-tabs">
        <h2 v-if="tabTitle">
            {{ tabTitle }}
        </h2>
        <h2 v-else>
            Tab titel placeholder
        </h2>

        <ul v-if="tabQuestions && tabQuestions.length">
            <li v-for="(question, index) in tabQuestions" :key="index">{{ question }}</li>
        </ul>
        <ul v-else>
            <li>Tab placeholder</li>
            <li>Tab placeholder</li>
        </ul>

        <p style="margin-top: 16px;" v-if="firstAnswer" v-html="firstAnswer"></p>
        <p v-else style="margin-top: 16px;">
            Tab content placeholder
        </p>
    </div>
{% endblock %}
