{% block sw_cms_element_cta_preview %}
    <div class="sw-cms-preview-cta">
        <div class="sw-cms-preview-cta-content">
            <h5>Lorem ipsum</h5>
            <div class="sw-cms-preview-cta-button">Button</div>
        </div>
        <div class="sw-cms-preview-cta-image">
            <img
                    :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                    alt=""
            >
        </div>
    </div>
{% endblock %}
