<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>

        <component name="sw-code-editor">
            <name>customMceConfig</name>
            <label>Customize TinyMCE configuration (JSON)</label>
            <label lang="de-DE">Anpassen der TinyMCE-Konfiguration (JSON)</label>
            <placeholder>Enter customized TinyMCE configuration as valid JSON...</placeholder>
            <placeholder lang="de-DE">Benutzerdefinierte TinyMCE-Konfiguration eingeben (valides JSON)...</placeholder>
            <helpText>For documentation on all adaptation options, see https://www.tiny.cloud/docs/configure/. Insert the configuration as a valid JSON code. Example:
                <![CDATA[<pre>{
  "menubar": "file edit insert format view tools table"
}</pre>]]></helpText>
            <helpText lang="de-DE">Dokumentation zu allen Anpassungsmöglichkeiten siehe unter https://www.tiny.cloud/docs/configure/. Die Konfiguration muss als valides JSON angegeben werden. Beispiel:
                <![CDATA[<pre>{
  "menubar": "file edit insert format view tools table"
}</pre>]]></helpText>
        </component>
    </card>
</config>
