{% block sw_text_editor %}
    <template v-if="!inheritedGrid">
        <div class="sw-text-editor" :class="classes">
            {% block sw_text_editor_label %}
                <div
                        v-if="showLabel"
                        class="sw-text-editor__label"
                >
                    <slot name="label">
                        {{ label }}
                    </slot>
                </div>
            {% endblock %}

            {% block sw_text_editor_box %}
                <div class="sw-text-editor__box">

                <textarea v-if="!isInlineEdit && !isCodeEdit"
                          :ref="uniqueNameTiny"
                          :placeholder="placeholder"
                          :disabled="disabled"
                          :value="value"
                />

                    {% block sw_text_editor_box_content %}
                        <sw-code-editor v-if="isCodeEdit"
                                        :value="value"
                                        setFocus
                                        @blur="emitHtmlContent"
                                        ref="codeEditor">
                        </sw-code-editor>

                        <div class="sw-text-editor__content" v-if="!isCodeEdit && isInlineEdit">
                            <div class="sw-text-editor__content-editor"
                                 :ref="uniqueNameTiny"
                                 :contenteditable="!disabled"
                                 :style="verticalAlignStyle"
                                 spellcheck="false"
                                 @focus="onFocus"
                                 @paste="onPaste"
                                 @blur="emitContent"
                                 @input="onContentChange"
                                 tabindex="-1"
                                 v-html="$sanitize(content, { ADD_ATTR: ['target'] })">
                            </div>
                            <div v-if="placeholderVisible" class="sw-text-editor__content-placeholder"
                                 v-html="$sanitize(placeholder)"></div>
                        </div>
                    {% endblock %}

                </div>
            {% endblock %}

            <sw-field-error
                    v-if="error"
                    :error="error"
            />
        </div>
    </template>
    <template v-else>
        {% parent %}
    </template>
{% endblock %}
