{% block sw_cms_element_mini_preview %}
    <div class="sw-cms-preview-mini">
        <div class="sw-cms-preview-mini-content">
            <img
                :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                alt=""
            >
            <h5>Featured<br>link</h5>
            <span class="sw-cms-preview-mini-content-button">→</span>
        </div>
    </div>
{% endblock %}
