{% block sw_cms_element_banner_link %}
    <div :class="{ 'is-clickable': element.config.buttonType.value === 'clickable' }"
         class="sw-cms-el-banner-link"
         :style="generalBackgroundColor">
        <div class="sw-cms-el-banner-link-image" :style="isFallbackImage() ? bannerBackgroundColor : null">
            <img v-if="!isFallbackImage()" :src="mediaUrl" alt="" :style="imgStyles">
        </div>
        <div class="sw-cms-el-banner-link-content">
            <div class="sw-cms-el-banner-link-content-text">
                <h1 :style="generalTitleColor">{{ element.config.generalTitle.value }}</h1>
                <p v-html="element.config.generalDescription.value"></p>
                <span
                        v-if="element.config.actionLabel.value"
                        :class="['action-label', element.config.labelType.value, labelPosition]"
                        :style="{ fontWeight: element.config.labelFontWeight.value }">
                {{ element.config.labelContent.value }}
            </span>
            </div>
            <div class="sw-cms-el-banner-link-content-button"
                 v-if="shouldShowButtonDiv"
                 :class="buttonPosition">
                <a :class="buttonTypeClass"
                   :style="buttonStyles">
                    <span v-if="element.config.buttonType.value == 'arrow'" class="material-symbols-rounded">
                        →
                    </span>
                    <span v-else>
                        {{ element.config.bannerLinkButtonText.value }}
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}