{% block sw_cms_element_banner_config %}
    <!-- Text Settings -->
    <h3 class="sw-cms-config-title">Text Settings</h3>

    <div class="mt-field">
        <sw-text-editor
            :value="bannerContent"
            label="Banner content"
            placeholder="Enter content"
            :allow-fullscreen="true"
            :height="150"
            @update:value="changeContent"
        />
    </div>

    <mt-colorpicker
        v-model="bannerBackgroundColor"
        color-output="hex"
        label="Banner background color"
        :alpha="true"
        :z-index="1000"
        @update:model-value="changeBackgroundColor"
    />

    <mt-select
        v-model="textAlignment"
        label="Text container alignment"
        placeholder="Select text container alignment"
        @update:model-value="changeTextAlignment"
        :options="textAlignmentOptions"
    />

    <mt-select
        v-model="textAlignmentHorizontal"
        label="Text container horizontal alignment"
        placeholder="Select text container horizontal alignment"
        @update:model-value="changeTextAlignmentHorizontal"
        :options="textAlignmentHorizontalOptions"
    />

    <mt-colorpicker
        v-model="textContainerBackground"
        color-output="hex"
        label="Text container background color"
        :alpha="true"
        :z-index="1000"
        @update:model-value="changeTextContainerBackground"
    />
    
    <mt-switch
        v-model="enableTextPadding"
        label="Enable padding inside text container"
    />

    <mt-text-field
        v-model="textContainerPadding"
        label="Text container padding (default: 2rem)"
        placeholder="rem"
        v-if="enableTextPadding"
        @update:model-value="changeTextContainerPadding"
    />

    <mt-text-field
        v-model="textContainerMaxWidth"
        label="Max width of text container (optional)"
        @update:model-value="changeTextContainerMaxWidth"
    />
    
    <!-- Media Settings -->
    <h3 class="sw-cms-config-title">Media Settings</h3>

    <mt-select
        v-model="imageFit"
        label="Image fit"
        @update:model-value="changeImageFit"
        :options="imageFitOptions"
    />

    <mt-switch
        v-model="enableCustomHeight"
        label="Set custom height for element"
    />

    <mt-text-field
        v-if="enableCustomHeight"
        v-model="mobileHeight"
        label="Element mobile height"
        @update:model-value="changeMobileHeight"
    />

    <mt-text-field
        v-if="enableCustomHeight"
        v-model="tabletHeight"
        label="Element tablet height"
        @update:model-value="changeTabletHeight"
    />

    <mt-text-field
        v-if="enableCustomHeight"
        v-model="desktopHeight"
        label="Element desktop height"
        @update:model-value="changeDesktopHeight"
    />
    
    <div class="sw-cms-el-config-image">
        {% block sw_cms_element_image_config_media_upload %}
            <sw-cms-mapping-field
                    v-model:config="element.config.media"
                    :label="$tc('sw-cms.elements.image.label')"
                    value-types="entity"
                    entity="media"
                    @update:value="changeMedia">
            </sw-cms-mapping-field>

            <sw-media-upload-v2
                    variant="regular"
                    :upload-tag="uploadTag"
                    :source="previewSource"
                    :allow-multi-select="false"
                    :default-folder="cmsPageState.pageEntityName"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    @media-upload-sidebar-open="onOpenMediaModal"
                    @media-upload-remove-image="onImageRemove"
                    @update:value="changeUploadSource">
            </sw-media-upload-v2>

            <sw-upload-listener
                    :upload-tag="uploadTag"
                    auto-upload
                    @media-upload-finish="onImageUpload" />
        {% endblock %}

        {% block sw_cms_element_image_config_media_modal %}
            <sw-media-modal-v2
                    v-if="mediaModalIsOpen"
                    variant="full"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :allow-multi-select="false"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-upload-remove-image="onImageRemove"
                    @media-modal-selection-change="onSelectionChanges"
                    @modal-close="onCloseModal" />
        {% endblock %}
    </div>
{% endblock %}