{% sw_extends '@Storefront/storefront/layout/header/header-minimal.html.twig' %}

{% set commaxShowContact = theme_config('comaxx-show-contact-information') %}

{% block layout_header_minimal_contact %}
	<div class="col-md-4 header-minimal-contact">
		{% if commaxShowContact %}
			{{ 'header.supportInfo'|trans|sw_sanitize }}
		{% endif %}
	</div>
{% endblock %}
