{# Set UspIcons to easyily overwrite icon #}
{% block header_usp_bar_array %}
    {% set uspIcons = [
    ] %}
{% endblock %}

{% block header_usp_bar_container %}
    <div class="usp-bar-below {{ uspContainerClasses }}">
        <div class="usp-bar-below-inner{% if comaxxUspBelowHeaderLayout == 'full-content-container' %} container{% endif %}">
            <div class="usp-bar">
                {% block header_usp_bar_usp_array %}
                    {# This block can be overridden in a child theme #}
                {% endblock %}

                {% set uspBarUsps = uspBarUsps is defined ? uspBarUsps : [
                    'comaxx.header.usp-bar.usp1.text',
                    'comaxx.header.usp-bar.usp2.text',
                    'comaxx.header.usp-bar.usp3.text'
                ] %}

                {% block header_usp_bar_usp_items %}
                    {% for key, usp in uspBarUsps %}
                        <div class="usp-bar-item">
                        <span class="icon material-symbols-{{ comaxxIconStyleClass }}">
                            {{ uspIcons[key] is defined ? uspIcons[key] : 'check' }}
                        </span>
                            {{ usp|trans }}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}